

<!DOCHTML>
<html>
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static',filename = 'style.css') }}">
    </head>
    <body>
        <div class="form-group">
        <h1>To-Do <small>List</small></h1>
        <form  action="/add" method="POST">
            <span><input type="text" class="form-control" placeholder="Your Task" name="task"></span>
            <span><input type="submit" class="btn btn btn-primary"></button></span>
        </form>
        </div>
        <div></div>
        
        {% if flag %}
            <table id="todo">
                {% for item in items%}
                    <tr><th>{{item.list_text}}</th><th> <a href='/remove?id={{item.list_id}}' class='close' aria-hidden='true'>&times;</a></th></tr>
                {% endfor %}
            </table>

        {% endif %}
    </body>
</html>
